NEXT_PUBLIC_KOFI_URL=https://ko-fi.com/devrentable
NEXT_PUBLIC_ADSENSE_CLIENT=ca-pub-3980525484161116
NEXT_PUBLIC_ADSENSE_HOME_SLOT=
NEXT_PUBLIC_ADSENSE_CSP_SLOT=
NEXT_PUBLIC_ADSENSE_DOCKER_SLOT=
NEXT_PUBLIC_ADSENSE_HTACCESS_SLOT=
